/* Header */
#hero {
  width: 100%;
  height: auto;
  position: relative;
}

#hero > img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.quote {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-style: italic;
}

/* Wildlife Observations Map */
#map-container {
  height: 450px;
  width: 100%;
}

.marker-text {
  text-align: center;
}

/* Wildlife Observations Table */
.buttons {
  text-align: center;
  margin: 2em;
}
.buttons > button:hover {
  background-color: lightblue;
}

#legend{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

span{
  padding-right: 5px;
}

#observation-data{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
 
}

.card-img{
  width: 375px;
  height: 375px;
  background-repeat: no-repeat;
}

.card-body{

}

.card-icons{
  
}

td {
  vertical-align: middle;
}

time {
  background: inherit;
}

/* Footer */
footer {
  text-align: right;
}
