/* Header */
#hero {
  width: 100%;
  height: auto;
  position: relative;
}

#hero > img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.quote {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-style: italic;
}

/* Wildlife Observations Map */
#map-container {
  height: 450px;
  width: 100%;
}

.marker-text {
  text-align: center;
}

/* Wildlife Observations Table */
.buttons {
  text-align: center;
  margin: 2em;
}
.buttons > button:hover {
  background-color: lightblue;
}

#legend{
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

span{
  padding-right: 5px;
}

h3{
  margin: 10px 0;
}

h4{
  margin: 10px 0;
}

#observation-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  height: 515px;
  margin: 0 10px;
  margin-bottom: 25px;
  border-radius: 0.8%;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 1px 3px 0px rgba(0,0,0,0.12);
}

.card-img{
  width: 375px;
  height: 375px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body{
  margin: 0 15px;
  padding: 15px 0;
  font-family: Arial, Helvetica, sans-serif;

}

.card-icons{
  margin: 0 15px;
  display: flex;
  justify-content: flex-end;
}

.card-icons i{
  margin: 5px;
}

.card-title{
  font-weight: bolder;
  color:black;
  font-size: 1.2em;
}

.card-date{
  color:black;
}

td {
  vertical-align: middle;
}

time {
  background: inherit;
}

/* Footer */
footer {
  text-align: right;
}
