/**
 * Styles for the add-observation.html page 
 */
 .search-block{
    display: flex;
    flex-direction: row;
 }

 .search-button{
     min-width: 150px;
 }

 #search-text{
    width:100%;
 }

 .required{
    color: red;
 }

 #latitute-label label span{
   color: red;
 }

 #latitute-label label span{
   color: red;
 }
