/* For instructions, go to index.html */
@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

h1{
    font-size: 1.8em;
    color: black;
    text-align: center;
    margin: 0 0 10px 0;
}

.textbox-size{
    height:40px;
    width:100%;
    margin: 5px 0;
}

.checkbox-size{
    height:20px;
    width:20px;
    margin: 5px 0;
}

.centered-block{
    /* margin: 20px 0; */
    width: 500px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.checkbox-block{
    /* margin: 20px 0; */
    width: 500px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


