/* For instructions, go to index.html */
@import url(https://fonts.googleapis.com/css?family=Roboto); 

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #0e0f0f;
    color: white;
    padding: 10px;
}

header{
    background-color: #343638;
    margin: 20 0;
    padding: 140px 0 30px 0;
    min-height: 200px;
    
}

h1{
    font-size: 3.5em;
    color: #4390de;
    text-align: center;
    margin: 0 0;
}

h3{
    color: #faffff;
    font-size: 1.2em;
    text-align: center;
}

a{
    padding: 0 10px;
    text-decoration: none;
    color: #faffff;
    font-size: 1.0em;
}

button{
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: #4390de;
    font-size: 1.2em;
    margin-top: 20px;
    margin-right: 15px;
    margin-right: 15px;
}

h4{
    font-family: "Roboto";
    font-size: 1.2em;
    color: rgba(68, 67, 67, 0.867)
}

h5{
    font-family: "Roboto";
    font-size: 1.2em;
    color: rgba(160, 155, 155, 0.867);
    padding: 0 10px;
}

p{
    line-height: 1.7em;
}

footer{
    background-color: #343638;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-block{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block{
    margin: 50px 50px;
}

.centered-inline{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.header-link{
    color: #4390de;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.table{
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.6em;
}
.bottom{
    background-color: #0e0f0f;
}

.three-colons{
    display: table-cell;
    vertical-align: middle;
    padding: 1.8em;
    width: 33%;
}

.two-colons{
    display: table-cell;
    vertical-align: middle;
    padding: 1.8em;
    width: 50%;
}

